@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --couleurGrisClair: #DFE6ED;
    --couleurBleuFonce: darkblue;
    --couleurNoir: #272727;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--couleurGrisClair);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.indexHeaderDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.indexHeader{
    padding: 30px;
    background-color: var(--couleurBleuFonce);
}

.indexLogo, h1{
    display: inline-block;
    font-size: 80px;
    font-weight: bolder;
    color: var(--couleurGrisClair);
}

.indexLogo{
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

ion-icon {
    --ionicon-stroke-width: 50px;
}

.indexTitre{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

.indexDivBoutons{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.indexBoutonMenu{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: var(--couleurGrisClair);
    border-radius: 10px;
    font-size: 1.5rem;
    height: 50px;
    padding: 5px;
    text-decoration: none;
    color: var(--couleurBleuFonce);
    z-index: 2;
}

.indexBoutonMenu:nth-child(2){
    margin: 10px 0;
}

.indexInput{
    background-color: white;
    height: 50px;
    padding: 10px 0 10px 50px;
    border-radius: 10px;
    margin-top: -50px;

}

input{
    width: 100%;
    border: none;
    font-size: 1.5rem;
}

.indexRecommandation{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.indexMain{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2, h3{
    color: var(--couleurBleuFonce);
    font-weight: bold;
}

.indexAfficheFilmRecommande{
    margin: 10px 10px 10px 5%;
    border-radius: 10px;
}

.indexDescriptionFilm{
    width: 70%;
}

.lecturePageVideo{
    width: 100%;
    margin-top: 1vw;
}

.lecturePageImg{
    text-align: left;
    width: 83vw;
}

.lecturePageProgressBar{
    position: relative;
    display: inline-block;
    text-align: left;
    top: -4px;
    width: 83vw;
    height: 10px;
    background-color: gray;
}

.lecturePageProgressBar::before{
    content: "";
    position: relative;
    display: inline-block;
    top: -4px;
    width: 30%;
    height: 10px;
    background-color: red;
}

.lecturePageInformations{
    position: absolute;
    display: flex;
    text-align: center;
    width: 83vw;
    left: 9vw;
}

.lecturePageInformations_1{
    display: inline-block;
    width: 33%;
}

.lecturePageInformations_2{
    display: inline-block;
    width: 33%;
}

.lecturePageInformations_3  {
    display: inline-block;
    width: 33%;
    top: 0;
}
