@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --couleurGrisClair: #d800ff;
    --couleurBleuFonce: darkblue;
    --couleurNoir: #272727;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.indexHeaderDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.indexHeader{
    padding: 30px;
    background-color: var(--couleurBleuFonce);
}

.indexLogo, h1{
    display: inline-block;
    font-size: 80px;
    font-weight: bolder;
    color: white;
}

.indexLogo{
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

ion-icon {
    --ionicon-stroke-width: 50px;
    color: var(--couleurGrisClair);
}

.inputRadio{
    display: none;
}

.indexTitre{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

.indexBoutonMenu{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: var(--couleurGrisClair);
    border-radius: 10px;
    font-size: 1.5rem;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: var(--couleurBleuFonce);
    z-index: 2;
    width: 20rem;
}

.indexBoutonMenu:nth-child(2){
    margin: 10px 0;
}

.indexInput{
    background-color: white;
    height: 50px;
    padding-left: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.formRecherche{
    width: 100%;
    height: 100%;
    display: flex;
}

.formRecherche button{
    height: 100%;
    width: 20rem;
    position: relative;
    font-size: 1.5rem;
    color: var(--couleurBleuFonce);
    border-radius: 10px;
    padding: 5px;
    margin: 0;
}

input{
    width: 100%;
    border: none;
    font-size: 1.5rem;
}

.indexInput input{
    font-weight: normal;
}

input{
    outline: none;
}

.indexRecommandation{
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 30px;
    border: solid 10px var(--couleurBleuFonce);
    border-radius: 20px;
    background-color: var(--couleurBleuFonce);
    color: white;
}

h2, h3{
    color: var(--couleurGrisClair);
    font-weight: bold;
}

.etoile{
    --ionicon-stroke-width: 60px;
    color: var(--couleurGrisClair);
    font-size: 1.5rem;
}

.indexRecommandation .etoile, .indexH2Etoiles h2, .connexionMain h2{
    color: var(--couleurGrisClair);
}

h2{
    text-align: left;
}

.indexMain{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.indexCategorie{
    max-width: 90%;
    margin-bottom: 50px;
}

.indexH3Etoile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indexLigneCategorie{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--couleurBleuFonce);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 15px;
}

.indexLigneFilms{
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    width: 100%;
    align-items: end;
    padding-bottom: 10px;
    background-color: var(--couleurBleuFonce);
}

.indexRecommandation img{
    width: 180px;
    height: 240px;
}

.indexDescriptionFilm {
    overflow: hidden;
    height: 240px;
    width: 100%;
}

.indexTexteRecommande{
    display: flex;
    padding-bottom: 30px;
    height: 100%;
    align-items: center;
}

.indexLigneFilms::-webkit-scrollbar{
    background-color: var(--couleurBleuFonce);
}

.indexLigneFilms::-webkit-scrollbar-thumb{
    background-color: var(--couleurGrisClair);
    border-radius: 15px;
    border: 5px solid var(--couleurBleuFonce);
}

.indexAfficheFilm{
    border-radius: 5px;
    width: 120px;
    height: 160px;
}

a {
    text-decoration: none;
    color: #DFE6ED;
}

.indexAfficheFilmRecommande{
    border-radius: 10px;
    margin-right: 20px;
}

.indexH2Etoiles{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.image{
    width: 120px;
    height: 160px;
    margin: 0 12px;
}

.lecturePageVideo{
    position: relative;
    width: 60%;
}

.lecturePageImg{
    position: relative;
    text-align: left;
    width: 60vw;
    left: 1vw;
    top: 1vw;
}

.lectureTools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.712);
    width: 12vw;
    height: 3vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    bottom: 14px;
    left: 44%;
    z-index: 2;
}

.lecturePlayVisible {
    position: relative;
    top: 4px;
    color: var(--couleurGrisClair);
    font-size: 2.5vw;
}

.lecturePlayHidden {
    position: relative;
    display: none;
    top: 4px;
    color: var(--couleurGrisClair);
    font-size: 2.5vw;
}

.lecturePauseVisible {
    position: relative;
    display: block;
    top: 4px;
    color: var(--couleurGrisClair);
    font-size: 2.5vw;
}

.lecturePauseHidden {
    position: relative;
    display: none;
    top: 4px;
    color: var(--couleurGrisClair);
    font-size: 2.5vw;
}

.lectureVolume{
    position: relative;
    top: 4px;
    color: var(--couleurGrisClair);
    font-size: 2.5vw;
}

.lectureScan{
    position: relative;
    top: 4px;
    color: var(--couleurGrisClair);
    font-size: 2.5vw;
}

.lecturePageProgressBar{
    position: relative;
    display: inline-block;
    text-align: left;
    top: 0.4vw;
    left: 1vw;
    width: 60vw;
    height: 10px;
    background-color: gray;
}

.lecturePageProgressBar::before{
    content: "";
    position: relative;
    display: inline-block;
    top: -6px;
    width: 30%;
    height: 10px;
    background-color: red;
}

.lecturePageInformations{
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    top: -34vw;
    left: 63vw;
    height: 1vw;
}

.lectureNotation1 {
    position: relative;
    top: -27px;
    left: 125px;
    width: 50%;
}

.lecturePageInformations_3 {
    background-color: var(--couleurBleuFonce);
    color: #DFE6ED;
    border-radius: 20px;
    padding: 20px;
}

.lecturePageInformations_3 td {
    padding-left: 16px;
}

.indexFooter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    flex-direction: column;
    height: 100px;
    background-color: var(--couleurBleuFonce);
    color: var(--couleurGrisClair);
}

.reseauxSociaux .md{
    margin: 0 10px;
}

.connexionMain, .profilAjouter{
    background-color: var(--couleurBleuFonce);
    width: 600px;
    border-radius: 20px;
    padding: 20px 7vw;
    margin: auto;
    border: solid 10px var(--couleurBleuFonce);
}

.hidden{
    visibility: hidden;
}

.connexionBody{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

.connexionMain h2, .profilAjouter h2{
    margin-left: 2vw;
    padding-bottom: 20px;
    display: none;
}

input, .connexionMain label, .profilAjouter label, .connexionMain button{
    margin: 10px 0;
    font-weight: bold;
    color: var(--couleurBleuFonce);
}

.connexionMain label, .profilAjouter label{
    color: var(--couleurGrisClair);
}

.connexionMain input, .connexionMain button{
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}

button{
    background-color: var(--couleurGrisClair);
    border: 10px;
    font-weight: bold;
    margin-left: 250px;
    cursor: pointer;
}

.profilMain{
    display: flex;
    padding: 0 3rem;
    justify-content: space-around;
    align-items: center;
}

.profilAjouter, .profilUsers{
    margin: 30px 0;
    width: 40%;
    padding: 30px 3vw;
    position: relative;
}

.profilAjouter button, .profilAjouter input{
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}

.profilAjouter button{
    position: absolute;
    width: 120px;
    right: 30px;
}

.profilUsers{
    width: 40%;
    background-color: var(--couleurBleuFonce);
}

.profilUser, .divAjoutUser{
    background-color: white;
    color: var(--couleurGrisClair);
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: bold;
}

.profilUsers form button, .divAjoutUser button{
    position: relative;
    margin: 0;
    right: 0;
}

#buttonSendRate{
    color: var(--couleurBleuFonce);
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin: -5px 0 0 10px;
}

.divMaNote{
    display: flex;
    text-align: left;
    column-gap: 10px;
    padding-bottom: 30px;
}

.profilUser p{
    width: 100%;
}

.lectureNotation2 form{
    display: flex;
}

@media (max-width: 900px) {
    .profilMain{
        flex-direction: column;
    }

    .profilAjouter{
        width: 90%;
    }

    .indexLogo {
        display: none;
    }

    .lecturePageVideo{
        position: relative;
        width: 90%;
    }

    .lecturePageImg{
        width: 96vw;
    }

    .lectureTools{
        bottom: 21px;
        width: 17vw;
        height: 7vw;
        left: 50%;
    }

    .lecturePlay {
        font-size: 4.5vw;
    }
    
    .lectureVolume{
        font-size: 4.5vw;
    }
    
    .lectureScan{
        font-size: 4.5vw;
    }

    .lecturePageProgressBar{
        width: 96vw;
        top: 0;
    }

    .lecturePageInformations{
        position: relative;
        width: 90%;
        top: 0;
        left: 2vw;
    }

    .indexH2Etoiles{
        flex-direction: column;  
    }
}

@media (max-width: 750px) {
    h1{
        font-size: 50px;
    }
}